<a href="https://colab.research.google.com/github/Natasha1305/LEARN.PY/blob/main/TASK-5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Given a list l=[23, 45, 25 ,78, 90, 45, 22, 56, 99, 12, 9, 75, 32]

Write a single line program to display.

a) elements at even index in the list.

b) remove the 3 middle elements (45, 22 and 56)

In [ ]:
#please write the code below this line
l = [23, 45, 25 ,78, 90, 45, 22, 56, 99, 12, 9, 75, 32]
even = []
print("The even indexed values are :")
for i in range(0, len(l)) :
  if i % 2 == 0  :
    even.append(l[i])
print(even)
indices_list = [5,6,7]
print("After Deletion :")
for i in sorted(indices_list, reverse = True):
    del l[i]
print(l)

2.Given a list lowerCase=['a', 'e', 'i', 'o', 'u']
Create a new list upperCase using list comprehension and copy the content of the lowerCase list, but in uppercase (capital letters). (upperCase should be ['A', 'E', 'I', 'O', 'U'])

In [ ]:
#please write the code below this line
lowerCase = ['a', 'e', 'i', 'o', 'u']
upperCase = []
for x in lowerCase :
  x = x.upper()
  upperCase.append(x)
print(upperCase)

3.Given a tuple fruits = ("banana", "cherry", "apple", "grapes")
Create 3 variables yellow, red and green and assign them with fruits of their respective color.
(yellow="banana", red=["cherry", "apple"], green="grapes (hint- Use unpacking)

In [10]:
#please write the code below this line
fruits = ("banana", "cherry", "apple", "grapes")
(yellow , *red , green) = fruits
print(yellow)
print(red )
print(green)

banana
['cherry', 'apple']
grapes