<a href="https://colab.research.google.com/github/Natasha1305/LEARN.PY/blob/main/TASK-6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write a Python program to find those numbers which are divisible by 7 and multiple of 11, between 1000 and 2000 (both included).

In [36]:
#please enter your answer below this line
for x in range(1000,2001) :
  if((x%7==0) and (x%11==0)) :
    print(x)

1001
1078
1155
1232
1309
1386
1463
1540
1617
1694
1771
1848
1925

2. Write a program to print this pattern

           #
          ## 
         ###

In [37]:
#please enter your answer below this line
rows = 3
k = rows + 1
for i in range(0, rows):
    
    for j in range(0, k):
        
        print(end=" ")
    k = k - 2
    for j in range(0, i + 1):
        
        print(" #", end="")
    print("")

     #
   # #
 # # #

3. list=[apple, orange, apple, banana]
. Replace all the apple in the list with grapes using for loop

In [38]:
#please enter your answer below this line
fruits = ["apple", "orange", "apple", "banana"]
for index, x in enumerate(fruits) :
  if x == 'apple':
    fruits[index] = 'grapes'

print(fruits)

['grapes', 'orange', 'grapes', 'banana']